. @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

*{
	padding: 0;
	margin: 0;
	font-family: 'Rubik';
	box-sizing:border-box ;
	text-decoration: none;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.container{
	color: white;
	background-color: #1AC073;
	padding: 20px 30px;
	height: 720px;
}
.head{
	display: flex;
	margin-top: 4px;
}
.first{
		margin-left: 80px;
		font-size: 17px;
		cursor: pointer;
}
.list{
	font-size: 15px;
	display: flex;
	/*justify-content: c ;*/
	margin: 3px 45px 0 260px;
}
.list a{
	text-decoration: none;
	color: white;
	padding: 0px 20px;
}
li{
	list-style: none;
}
.last{
